:root {
  --color-code-light: lch(from white calc(l - 10) c h);
  --color-code-dark: lch(from black calc(l + 20) c h);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Content
 */

img {
  display: block;
  width: 100%;
  max-width: 25em;
  height: auto;
  margin: 0 auto 2em;

  figure & {
    margin-block-end: 0;
  }
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  display: block;
  margin-block-end: 2.5em;
}

.shiki {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  font-size: 0.9em;
  tab-size: 2;
}
code:not(.shiki code) {
  background: light-dark(var(--color-code-light), var(--color-code-dark));
  border-radius: 0.3em;
  font-size: 0.9em;
  padding-inline-start: 0.2em;
  padding-inline-end: 0.2em;
}

.image-table {
  table {
    width: 100%;
    table-layout: fixed;
  }

  img {
    width: 100%;
    margin: 0;
  }
}

.footnotes {
  margin-block-start: 2em;
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
  border-block-start-color: light-dark(
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  );

  ol {
    margin-block-start: 2em;
    margin-block-end: 0;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

/**
 * Layout
 */

header {
  padding-block-start: 1em;
}

article {
  margin-block-start: 4em;

  h2 {
    margin-block-start: 0;
  }

  time {
    font-weight: bold;
  }
}

footer {
  display: flex;
  align-items: center;
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
  border-block-start-color: light-dark(
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  padding-block-start: 2em;
  gap: 1em;
  margin-block-start: 3em;
  font-size: 0.8em;

  img {
    width: 5.625rem;
    height: auto;
    border-radius: 100%;
  }
}
